<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
    <fieldset>
        <form action="/uf/cadastrar" method="POST">

            <label>Nome: </label><input type="text" name="nome" required="required">
            <br>
            <label>Sigla: </label><input type="text" name="sigla" required="required">
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </fieldset>
    <a href="/uf/listar"><button >Lista</button></a>
    <a href="/cidade/cadastro"><button style="margin-left:10%" >Cadastro cidade</button></a>
    <a href="/pessoa/cadastro"><button style="margin-left:1.2%" >Cadastro pessoa</button></a>
</body>
</html>