<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
    <fieldset>
        <form action="/cidade/cadastrar" method="POST">
            <label>Id: </label><input type="number" name="id" required="required">
            <br>
            <label>Nome: </label><input type="text" name="nome" required="required">
            <br>
            
            <select name="uf" required>
                <% ufs.forEach((uf)=>{ %>
                    <option value="<%= uf.id %>"><%= uf.sigla %></option>
                <% }) %>
            </select>
            
            <button type="submit">Cadastrar</button>
        </form>
    </fieldset>
    <a href="/cidade/listar"><button style="margin-left: 10%" >Lista</button></a>

    <a href="/uf/cadastro"><button style="margin-left:65%" >Cadastro UF</button></a>
    <a href="/pessoa/cadastro"><button style="margin-left:65%" >Cadastro pessoa</button></a>
</body>
</html>