<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
    <fieldset>
        <form action="/uf/cadastrar" method="POST">
            <label>Id: </label><input type="number" name="uf.id" required="required">
            <br>
            <label>Nome: </label><input type="text" name="uf.nome" required="required">
            <br>
            <label>Sigla: </label><input type="text" name="uf.sigla" required="required">
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </fieldset>
    <a href="/uf/listar"><button style="margin-left: 10%" >Lista</button></a>
</body>
</html>