<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

</head>
<body>
    <fieldset>
        <form action="/pessoa/cadastrar" method="POST">
        
            <label>Nome: </label><input type="text" name="nome" required="required">
            <br>
            <label>Sobrenome: </label><input type="text" name="sobrenome" required="required">
            <br>
            <label>Cidade: </label>
            <select name="cidade" required>
                <% cidades.forEach((cidade)=>{ %>
                    <option value="<%= cidade.id %>"><%= cidade.nome %></option>
                <% }) %>
            </select>
            <br>
            <button type="submit" class="btn btn-default">Cadastrar</button>
        </form>
    </fieldset>
    <br>
    <a href="/pessoa/listar"><button type="button" class="btn btn-link"  >Lista</button></a>
    <a href="/uf/cadastro"><button type="button" class= "btn btn-primary" >Cadastro UF</button></a>
    <a href="/cidade/cadastro"><button type="button" class= "btn btn-primary"  >Cadastro cidade</button></a>
</body>
</html>