<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
    <fieldset>
        <legend><h2>Cidades</h2></legend>
        <table style="width:50%; margin:0 auto">
            <tr>
                <th style="text-align:center; border-style:solid">Id</th>
                <th style="text-align:center; border-style:solid">Nome</th> 
                <th style="text-align:center; border-style:solid">UF</th> 
            </tr>

            <% cidades.forEach((cidade) => { %>
                <tr>
                    <td style="text-align:center; border-style:solid; border-color: darkgray"><%= cidade.id %></td>
                    <td style="text-align:center; border-style:solid; border-color: darkgray"><%= cidade.nome %></td>
                    <td style="text-align:center; border-style:solid; border-color: darkgray"><%= cidade.uf[0].sigla %></td>
                </tr>
            <% }) %>
            
        </table>
    </fieldset> 
    <a href="/cidade/cadastro"><button style="margin-left:65%" >Novo cadastro</button></a>
</body>
</html>